@font-face {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lemon/Milk Regular'), url('../fonts/LemonMilk.woff') format('woff');
}

body {
    font-family: "Lemon/Milk Regular";
}

.divtittle {
    text-align: center;
    padding-top: 2%;
    color: #fff;
    font-size: 35px;
}

.divsubt {
    display: none;
    font-size: 25px;
}

.center h1 {
    font-size: 30px;
}

#img {
    width: 100%;
    margin-bottom: 40px;
}

.gen {
    text-align: center;
    color: #474cb1;
    margin-top: .5em;
    margin-bottom: 2em;
}

.t p {
    font-family: Arial, Helvetica, sans-serif;
}

.main-text {
    font-size: 30px;
}

.social {
    position: fixed;
    top: 650px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-instagram {
    background: #8c29b9;
}

.social ul li .icon-whatsapp {
    background: #18ae45;
}

.social ul li .icon-mail2 {
    background: #666666;
}

.social ul li a:hover {
    background: #000;
    padding: 10px 30px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.rows {
    display: flex;
    align-items: center;
    justify-content: center;
}

.origen {
    text-align: center;
    color: #474cb1;
    margin: 35px 0;
}

.main-tittle {
    text-align: center;
    color: rgb(37, 150, 190);
    margin: 35px 0;
}

.origen2 {
    color: #474cb1;
    text-align: center;
    font-size: 70px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.lg {
    width: 300px;
}

.space {
    margin-top: 4%;
    margin-bottom: 4%;
}

.imgs {
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

@media (min-width:480px) {
    .t p {
        font-size: 20px;
    }
}

@media (min-width:991px) {
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:767px) {
    .social {
        display: none;
    }
    .img {
        align-items: center;
    }
}

@media (max-width:991px) {
    .divsubt {
        display: block;
    }
    .divsubt img {
        width: 90px;
    }
    .divtittle {
        display: none;
    }
}

.form-registro {
    width: 700px;
    background-color: #375a7f;
    padding: 30px;
    margin: auto;
    margin-bottom: 4%;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.form-registro h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.controles {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #375a7f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.form-registro p {
    height: 400px;
    text-align: center;
    font-size: 18px;
}

.form-registro a:hover {
    color: white;
}

.btn-secondary {
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
}