@font-face {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lemon/Milk Regular'), url('../fonts/LemonMilk.woff') format('woff');
}

body {
    font-family: "Lemon/Milk Regular";
}

.divtittle {
    text-align: center;
    padding-top: 2%;
}

.divtittle {
    font-size: 35px;
}

.divsubt {
    display: none;
    font-size: 25px;
}

.center h1 {
    font-size: 30px;
}

#img {
    width: 100%;
    margin-bottom: 40px;
}

.origen {
    color: #474cb1;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.social {
    position: fixed;
    top: 600px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-instagram {
    background: #8c29b9;
}

.social ul li .icon-whatsapp {
    background: #18ae45;
}

.social ul li .icon-mail2 {
    background: #666666;
}

.social ul li a:hover {
    background: #000;
    padding: 10px 30px;
}

@media (min-width:991px) {
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:767px) {
    .social {
        display: none;
    }
}

@media (max-width:991px) {
    .divsubt {
        display: block;
    }

    .divsubt img {
        width: 90px;
    }

    .divtittle {
        display: none;
    }
}

.origen {
    text-align: center;
}

.origen2 {
    text-align: center;
    font-size: 70px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.imgs {
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}