@font-face {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lemon/Milk Regular'), url('../fonts/LemonMilk.woff') format('woff');
}

body {
    font-family: "Lemon/Milk Regular";
}

.divtittle {
    text-align: center;
    padding-top: 2%;
}

.divtittle {
    font-size: 35px;
}

.divsubt {
    display: none;
    font-size: 25px;
}

.center h1 {
    font-size: 30px;
}

#img {
    width: 100%;
    margin-bottom: 40px;
}

.social {
    position: fixed;
    left: 0;
    top: 700px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-googleplus {
    background: #d95232;
}

.social ul li .icon-pinterest {
    background: #ae181f;
}

.social ul li .icon-mail {
    background: #666666;
}

.social ul li a:hover {
    background: #000;
    padding: 10px 30px;
}

@media (min-width:991px) {
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:991px) {
    .divsubt {
        display: block;
    }
    .divsubt img {
        width: 90px;
    }
    .divtittle {
        display: none;
    }
}

.origen {
    text-align: center;
}